<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.NFC" />

    <application>
        <!-- Meta-data for Godot plugin -->
        <meta-data
            android:name="org.godotengine.plugin.v2.NFCPlugin"
            android:value="org.godotengine.plugin.android.NFCPlugin.GodotAndroidPlugin" />
    </application>
</manifest>
